%h1= t('.title')

- @deployments.each do |d|
  %table.box.data
    %thead
      %tr
        %th{:width=>"20em"}
        %th= link_to d.name, deployment_path(d.id)
        %th= t ".services"
    %tbody
      %tr{:id=>d.id}
        %td.roles= "nr pie"
        %td.nodes
          %a{:href=>monitor_path(d.id), :title=>"#{d.name} monitor",:style=>"display: inline-block;position: relative;"}
            = "tristate per node"
        %td.services{:style=>"font-size:50px; font-family:Symbola"}
          = "service list"

.clear

:javascript

  $.ajaxSetup
    cache: false

  var refreshRate = #{current_user.settings(:ui).fast_refresh};
  var hasLoaded = false;

  icons = { 
    'missing': 0x26ED,  //gear without hub
    'rebar-job_runner_service': 0xF09F8DB4 ,  // factory
    'network-server': 0x2699,  // pipe
    'ntp-service': 0x2699,  // clock
    'dns-service': 0x2699,  // can
    'dhcp-service': 0x2699,  // passport
    'proxy-service': 0x2699,  // phone
    'provisioner-service': 0x2699,  // truck
    'rebar-api_service': 0x2B7F,  // up & down arrows
    'chef-service': 0x1F374, // knife & fork
    'dns-mgmt_service': 0x2699,  // gear with hub
    'dhcp-mgmt_service': 0x2699   // gear with hub
  };

  function update() {
    $.getJSON("#{dashboard_path}.json", function(data, err) {
      // deployments
      for (var i in data.deployments) {
        var d = data.deployments[i];
        // pie
        $("tr#"+d+" td.roles")[0].innerText = data[d].node_roles;
        // nodes
        $("tr#"+d+" td.nodes")[0].innerText = data[d].nodes;
        // services
        var services = $("tr#"+d+" td.services")[0];
        var slist = ""
        for(var s in data[d].services) {
          console.debug(icons[s]);
          // TODO - handle missing case, green if ready, invert&red if not ready
          slist += "<span>"+String.fromCharCode(icons[s])+"</span>";
        };
        services.innerHTML = slist;
      };
    });
  }

  update();
